.recipe-card {
  padding: 30px;
  margin: 5px;
  width: 20rem;
}

.small-grid {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-title {
  padding-bottom: 5px;
  border-bottom: var(--bs-info) solid;
}

.recipe-card svg {
  margin-right: 10px;
}

.loading_icon {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request_error {
  margin-left: 80px;
  margin-top: 80px;
}
